MP_ACCESS_TOKEN=TEST-2721546200679909-073020-5cc51e989e53311bbfef3fbee4900697-1071458478

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsY3NjZHBwZWV2ZnNlYW5vaHZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NjQ2MjIsImV4cCI6MjEwMTQ0MDYyMn0.J3fP_wj84CvWhkcLtdsevplSO1sMFmGxhQWWWiISwSA